body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px!important;
}
.min-h-screen{
  min-height: 100vh;
}
.bg-theme{
  background-color: rgba(30, 64, 175, 1)!important;
}
.bg-white{
  background-color: #fff!important;
}


/* Common Style */
img,
video {
  max-width: 100%;
  height: auto;
}
a{
  color: rgba(30, 64, 175, 1)!important;
  text-decoration: none;
}
.text-md{
  font-size: 1.25rem!important;
}

/* Default Style */
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}
.overflow-hidden{
  overflow: hidden;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.grow{
  flex-grow: 1;
}

.w-8{
  width: 2rem;
}
.h-8{
  height: 2rem;
}

/* Text Style */
.text-white{
  color: #fff!important;
}

.opacity-7{
  opacity: .7!important;
}

/* Spacing */
.p-6{
  padding: 1.5rem;
}
.px-0{
  padding-left: 0!important;
  padding-right: 0!important;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8{
  padding-left: 2rem;
  padding-right:2rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.m-6{
  margin: 2rem;
}
.mb-4{
  margin-bottom: 1rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mb-6{
  margin-bottom: 1.5rem!important;
}
.mt-6{
  margin-top: 1.5rem!important;
}
.mb-8{
  margin-bottom: 2rem;
}
.mb-12{
  margin-bottom: 3rem;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mr-4{
  margin-right: 1rem;
}

/*** Leading *** */
.leading-8{
  line-height: 2rem;
}

.border-b{
  border-bottom-width: 1px;
}
.border-l{
  border-left-width: 1px;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
}
.border{
  border-style: solid;
  border-color: rgb(255 255 255 / 0.08);
}
/* *** Rounded *** */
.rounded-full{
  border-radius: 9999px;
}
.rounded-xl{
  border-radius: 1.5rem;
}
.rounded-r-0{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.object-contain{
	object-fit: contain;
}
.object-cover{
	object-fit: cover;
}

.cursor-pointer{
  cursor: pointer;
}

/* **** Typography **** */
.leading-2{
  line-height: 1.3;
}

/* *** Content style *** */
.content{
  height: calc(100vh - 130px);
  box-sizing: border-box;
}

/*** Responsive Media Query */
@media only screen and (max-width: 768px) {
  .hidden-md{
    display: none!important;
  }
  .min-h-auto-md{
    min-height: auto;
  }
  .rounded-lg-md{
    border-radius: 0.5rem;
  }
  .p-4-md{
    padding: 1rem;
  }
}


/* Override theming style */
.ant-btn{
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}
.ant-btn-primary{
  background-color: rgba(30, 64, 175, .9);
}
.ant-btn-default:hover{
  border-color: rgba(30, 64, 175, 1)!important;
  color: rgba(30, 64, 175, 1)!important;
}
.ant-btn-primary:hover,.ant-btn-primary:focus, .ant-btn-primary:focus-within{
  background-color: rgba(30, 64, 175, 1)!important;
}
.ant-form-item {
  margin-bottom: 12px!important;
}
.ant-form-item-explain-error{
  margin-bottom: .5rem!important;
}

/* Layout */
.menu_trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.menu_trigger:hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  color: #fff!important;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 2rem;
  min-width: 160px;
}
